<!DOCTYPE html>
<html lang = "ua">
<head>
    <meta charset = "UTF-8">
    <title>{% block title %}Автошкола ЧПТ - Головна{% endblock %}</title>
    {% load static %}
	<Link rel = "stylesheet" href = "{% static 'styles/styles.css' %}">
</head>
<body>
	<nav class = "top-menu">
		<ul class = "menu-main">
			<li class = "left-item"><a href = "base.html">Головна</a></li>
			<li class = "left-item"><a href = "pages/courses.html">Курси водіїв</a></li>
			<li class = "left-item"><a href = "pages/training.html">База навчання</a></li>
			<li class = "right-item"><a href = "pages/contacts.html">Контакти</a></li>
			<li class = "right-item"><a href = "pages/reviews.html">Відгуки</a></li>
			<li class = "right-item"><a href = "pages/useful.html">Корисне</a></li>
		</ul>
		<a class = "navbar-logo" href = "base.html"><img src = "../static/media/logo.png"></a>
	</nav>

    {% block content %}
    {% endblock %}

	<div id = "footer">
		&copy; Влад Зоря
	</div>
</body>
</html>